@import 'tailwindcss';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: 'Poppins', 'sans-serif';
    --font-logo2: 'Red Hat Display', sans-serif;
    --font-logo3: 'Cal Sans', 'serif';

    --breakpoint-3xl: 120rem;

    --color-purple-50: #eff0fe;
    --color-purple-100: #e2e3fd;
    --color-purple-200: #cacbfb;
    --color-purple-300: #acaaf7;
    --color-purple-400: #9288f1;
    --color-purple-500: #806be9;
    --color-purple-600: #6741d9;
    --color-purple-700: #6340c2;
    --color-purple-800: #51379c;
    --color-purple-900: #43337c;
    --color-purple-950: #281e48;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

    --color-main-bg: #efefef;
    --color-main-hover-bg: #d6d6d6;
    --color-main-border: #d5d5d5;

    --color-main-gray: #6d6d6d;
    --color-main-lightgray: #cacaca;

    --color-main-gray-bg: #e0e0e0;

    --color-primary: hsl(220 90% 66%);

    /* --color-mainHoverDarkBg: #19191f; */
    /* --color-mainGray: #262629;
    --color-mainHoverOnGray: rgba(74, 85, 101, 0.3);
    --color-mainBorder: #242324;
    --color-grayDull: #4a5565;
    --color-secondary: #666666;
    --shadow-mainShadow: 0 0 20px rgba(0, 0, 0, 0.3); */
    /* --color-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
}

@layer theme {
    .dark {
        --color-main-bg: #141414;
        --color-main-hover-bg: #212121;
        --color-main-border: #202020;

        --color-main-gray: #adadad;
        --color-main-lightgray: #343434;
        --color-main-gray-bg: #202020;

        --color-main-text: hsl(0 0% 96%);
    }
}

body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multiline {
    white-space: pre-line;
}

.skeleton {
    background: linear-gradient(
        90deg,
        var(--color-main-hover-bg),
        var(--color-main-gray-bg),
        var(--color-main-hover-bg)
    );
    background-size: 200%;
    animation: leftToRight 1.5s infinite reverse;
}

@keyframes leftToRight {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
